* {
    color: #333;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #eee;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

h1::selection,
h2::selection,
p::selection,
span::selection {
    background-color: #ff4c4c;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 32px;
}

h1 span {
    font-weight: 300;
}

h2 {
    font-weight: 300;
    font-size: 1.75em;
    text-align: left;
}

h2 span {
    font-size: 1.25em;
}

p {
    font-size: 1.25em;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

a[class*=icon],
a[class*=icon]:visited {
    color: #333;
    font-size: 1.5em;
    text-decoration: none;
    transition: transform .4s ease;
}

a[class*=icon]:hover {
    transform: scale(1.2);
    color: #ff4c4c;
}

@media (max-width: 920px) {
    h1 { font-size: 2em; }
}




#show {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
}